name = "repo-proxy"
main = "src/cloudflare/worker.ts"
compatibility_date = "2024-10-01"
compatibility_flags = ["nodejs_compat"]

# Environment variables
[vars]
BASE_URL = "https://proton-repo-proxy.baxyz.workers.dev"

# KV Namespace for APT metadata cache
[[kv_namespaces]]
binding = "REPO_CACHE"
id = "86b12842be3f4ed496c5b6a440a18a9e"
preview_id = "8f69ad3d1b744fab9aeec497a6712552"
